<footer class="footer has-background-white-bis">
  <span class="content has-text-left" style="font-size: 0.75rem">
    Solasta Tools is not affiliated with Tactical Adventures.
  </span>
  <div class="content has-text-right" style="font-size: 0.75rem">
    Copyright © 2021 Eighth Avenue Systems, LLC
  </div>
</footer>