<section class="section">
  <div class="container">
    <h1 class="title">
      About
    </h1>
    <div class="block">
    This is a Solasta player community site. Solasta Tools is not affiliated with Tactical Adventures. 
    </div>
    <div class="block">
    Solasta Tools was <a href="<%= contact_path %>">created by Vel</a>.
    </div>
    <div class="block">
    Tactical Adventures (TA) is the studio behind the game Solasta Crown of the Magister. 
    If you'd like to support TA, please <a href="https://store.steampowered.com/app/1096530/Solasta_Crown_of_the_Magister/" target="_blank">buy Solasta, the DLC(s), and bonus packs</a>.
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    window.st.api.trackEvent('PageView', { page_name: 'about'});
  });
</script>