<section class="section">
  <div class="container">
    <h1 class="title">
      Contact
    </h1>
    <p>
      <a href="https://linktr.ee/VelSolasta">Contact Vel</a>
    </p>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    window.st.api.trackEvent('PageView', { page_name: 'contact'});
  });
</script>