<section class="section">
  <div class="container">
    <h1 class="title">
      Resources
    </h1>
    <div class="block">
      <a href="https://store.steampowered.com/app/1096530/Solasta_Crown_of_the_Magister/" target="_blank">Solasta on Steam</a>
    </div>
    <div class="block">
      <a href="https://solasta-dungeons.fandom.com/" target="_blank">Solasta Fandom Wiki</a>
    </div>
    <div class="block">
      <a href="https://www.nexusmods.com/solastacrownofthemagister" target="_blank">DM Pro Mod</a>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    window.st.api.trackEvent('PageView', { page_name: 'resources'});
  });
</script>